:root {
  --background: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus,
input:focus {
  outline: 0;
}

button,
a {
  outline: 0;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  background: var(--background);
  color: var(--text-color);

  position: relative;
  z-index: 3;
  overflow-x: hidden;
}

.blur {
  /* max-width: 400px; */
  width: 400px;
  height: 400px;
  background: #996dff;
  border-radius: 50%;
  filter: blur(180px);

  position: absolute;
}

.blur.top {
  top: -200px;
  right: -300px;
  z-index: 2;
}

.blur.bottom {
  bottom: -280px;
  left: 0;
  z-index: -1;
}

.header-desktop {
  padding-top: 5rem;
}

.header-desktop .container {
  width: 90%;
  max-width: 920px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-desktop .container nav ul {
  display: flex;
  gap: 3.2rem;
}
.header-desktop .container nav ul li {
  position: relative;
}

.header-desktop .container nav ul li::after {
  content: '';
  width: 100%;
  height: 0.13rem;
  background: #8257e5;

  position: absolute;
  left: 0;
  bottom: -5px;

  transform: scale(0, 0);
  transition: all 0.35s ease;
}

.header-desktop .container nav ul li:hover::after {
  transform: scale(1, 1.2);
}

.btn-take-coffee {
  padding: 1.1rem 3.8rem;
  background-color: transparent;
  border: 1px solid var(--button);
  border-radius: 0.6rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;

  transition: all 0.4s ease;
}

.btn-take-coffee:hover {
  background: var(--button);
  backdrop-filter: brightness(0.1);
}

main {
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
}

main .container {
  width: 90%;
  max-width: 920px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container .title h1 {
  font-size: 8rem;
  line-height: 109.28px;
}

main .container .title .tag {
  margin-top: -15px;
  color: var(--background);
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

main .container img {
  margin: 0 auto;
  max-width: 674px;
}

.btn-take-coffee.mobile {
  display: none;
}

.header-mobile {
  display: none;
}

.header-title-mobile {
  display: none;
}

.header-desktop .logo-mobile {
  display: none;
}

/* ############################################# */

@media (max-width: 750px) {
  body {
    height: 100%;
    /* overflow: hidden; */
  }
  .blur.top {
    display: none;
  }

  .header-desktop .logo-mobile {
    display: block;
  }

  .header-desktop .logo-desktop {
    display: none;
  }

  .header-desktop nav,
  .header-desktop button {
    display: none;
  }

  .header-desktop {
    padding: 0;
    padding: 37px 0 26px 0;
    border-bottom: 1px solid #29292e;
  }

  .btn-take-coffee.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.3rem;
  }

  .btn-take-coffee.mobile::after {
    content: '';
    width: 11px;
    height: 11px;
    background: url('/assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-mobile {
    display: block;
  }

  .header-title-mobile {
    display: block;
  }

  main .container {
    gap: 6rem;
  }

  main .container .title h1 {
    font-size: 5rem;
    margin: 0;
    line-height: 68px;
  }

  .blur.bottom {
    bottom: -200px;
    right: 0;
  }

  /* Mobile Responsive */
  .menu-toggle {
    width: 24px;
    height: 10px;
    cursor: pointer;
    position: relative;
  }

  .one,
  .two {
    background: #8257e5;
    height: 2px;
    width: 100%;
    margin: 6px auto;
    transition: all 0.4s ease;
  }

  /* Menu ON - Full Screen */

  .menu-section.active .one {
    transform: rotate(40deg);
    position: absolute;
    top: -2px;
    left: 1px;
  }
  .menu-section.active .two {
    transform: rotate(-40deg);
    position: absolute;

    bottom: -2px;
  }

  .menu-section.active nav {
    display: block;
    position: absolute;
    z-index: 10;

    top: 97px;
    left: 0;
    background: var(--background);
    height: 100vh;
    width: 100vw;
    transition: all 0.5s ease;
  }

  .menu-section.active nav ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-size: 1.8rem;
  }

  .menu-section.active nav ul li {
    border-bottom: 1px solid #29292e;
    padding: 1.8rem 0 1.4rem 0;
    cursor: pointer;
    overflow: hidden;
  }

  .menu-section.active nav ul li::after {
    content: '';
    width: 0.4rem;
    height: 100%;

    left: 1px;
    bottom: 0;

    transform: scale(0, 0);
    transition: all 0.6s ease;
  }

  .menu-section.active nav ul li a {
    margin-left: 40px;
  }

  main .container .header-title-mobile {
    width: 75%;
  }

  main .container .header-title-mobile p {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    line-height: 4rem;
    letter-spacing: 0.02rem;
  }

  main .container img {
    margin-top: -100px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .btn-take-coffee.mobile {
    font-size: 1.1rem;
  }
  main .container .header-title-mobile p {
    font-size: 2.4rem;
  }

  main .container .title h1 {
    font-size: 4rem;
  }
}
